---
import FadeIn from "../../components/animation/FadeIn.astro";
import CTA from "../../components/animation/sections/CTA.astro";
import Section from "../../components/animation/sections/Section.astro";
import Layout from "../../layouts/Layout.astro";
import { sections } from "./../../content";
export async function getStaticPaths() {
  return sections.map((s) => {
    return {
      params: {
        id: s.id,
      },
    };
  });
}

const { id } = Astro.params;
const page = sections.find((s) => s.id === id)!;
---

<Layout title={page.header}>
  <main>
    <FadeIn>
      <div
        class="flex flex-col justify-center items-center h-[100vh] uppercase tracking-widest relative overflow-hidden"
      >
        <div class="absolute z-10">
          <div
            class="max-w-md flex flex-col justify-center items-center text-center"
          >
            <h1
              class="text-8xl md:text-9xl lg:text-10xl text-beige text-center"
            >
              {page.header}
            </h1>
          </div>
        </div>
        <img
          class="brightness-50"
          src="https://images.unsplash.com/photo-1527011046414-4781f1f94f8c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
        />
      </div>
    </FadeIn>

    <Section>
      <div class="flex flex-col justify-center items-center">
        <p class="text-lg md:text-2xl max-w-screen-lg mx-auto px-6">
          {page.content}
        </p>
        <a
          href="/contact"
          class="bg-charcoal rounded-lg mt-24 px-24 py-6 text-beige uppercase transition-colors duration-500 hover:bg-beige hover:text-charcoal border border-charcoal tracking-widest"
        >
          Work With Me</a
        >
      </div>
    </Section>

    <div class="bg-white text-charcoal">
      <Section>
        <div class="space-y-36 md:px-12">
          {
            page.details.map((sample) => (
              <div>
                <FadeIn>
                  <h3 class="text-center text-5xl lg:text-8xl 2xl:text-9xl text-charcoal uppercase mb-12">
                    {sample.title}
                  </h3>
                </FadeIn>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 space-x-1 space-y-1">
                  {sample.images.map((img) => (
                    <FadeIn>
                      <img src={img} />
                    </FadeIn>
                  ))}
                </div>
              </div>
            ))
          }
        </div>
      </Section>
    </div>

    <CTA
      title="You're in good hands"
      description={`As a proven professional, I'm passionate about creating beautiful,
  timeless images that capture your most cherished memories. Whether
  it's beautiful photos for your website, a wedding, or a special
  event, I'll work with you to create a unique and stunning visual
  experience.`}
      cta="Get in touch"
    />
  </main>
</Layout>
