---
import FadeIn from "../../components/animation/FadeIn.astro";
import Layout from "../../layouts/Layout.astro";
import { sections } from "./../../content";
export async function getStaticPaths() {
  return sections.map((s) => {
    return {
      params: {
        id: s.id,
      },
    };
  });
}

const { id } = Astro.params;
const page = sections.find((s) => s.id === id)!;
---

<Layout title={page.header}>
  <main>
    <FadeIn>
      <div
        class="flex flex-col justify-center items-center h-[100vh] uppercase tracking-widest relative overflow-hidden"
      >
        <div class="absolute z-10">
          <div
            class="max-w-md flex flex-col justify-center items-center text-center"
          >
            <h1 class="text-5xl sm:text-6xl md:text-8xl text-beige">
              {page.header}
            </h1>
          </div>
        </div>
        <img
          class="brightness-50 h-full object-cover"
          src="https://images.unsplash.com/photo-1527011046414-4781f1f94f8c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
        />
      </div>
    </FadeIn>

    <FadeIn>
      <div class="my-24 md:my-48 flex flex-col justify-center items-center">
        <p class="text-lg md:text-2xl max-w-screen-lg mx-auto px-6">
          {page.content}
        </p>
        <a
          href="/contact"
          class="bg-charcoal rounded-lg mt-24 px-24 py-6 text-beige uppercase transition-colors duration-500 hover:bg-beige hover:text-charcoal border border-charcoal tracking-widest"
        >
          Work With Me</a
        >
      </div>
    </FadeIn>

    <div class="py-24 my-24 md:px-12 bg-white text-charcoal">
      {
        page.details.map((sample) => (
          <div class="my-36 md:my-48">
            <FadeIn>
              <h3 class="text-3xl md:text-5xl lg:text-7xl mb-12 mx-6">
                {sample.title}
              </h3>
            </FadeIn>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 space-x-1 space-y-1">
              {sample.images.map((img) => (
                <FadeIn>
                  <img src={img} />
                </FadeIn>
              ))}
            </div>
          </div>
        ))
      }
    </div>

    <div class="py-48">
      <div class="flex flex-col justify-center text-center">
        <FadeIn>
          <h2
            class="text-center text-4xl lg:text-5xl 2xl:text-7xl text-charcoal"
          >
            You're In Good Hands
          </h2>
        </FadeIn>
        <FadeIn>
          <p class="text-charcoal py-6 text-2xl max-w-screen-lg mx-auto">
            As a proven professional, I'm passionate about creating beautiful,
            timeless images that capture your most cherished memories. Whether
            it's beautiful photos for your webiste, a wedding, or a special
            event, I'll work with you to create a unique and stunning visual
            experience.
          </p>
        </FadeIn>
      </div>
      <FadeIn>
        <div class="flex flex-row items-center justify-center">
          <a
            href="/contact"
            class="bg-charcoal rounded-lg my-24 px-24 py-6 text-beige uppercase transition-colors duration-500 hover:bg-beige hover:text-charcoal border border-charcoal tracking-widest"
          >
            Work With Me</a
          >
        </div>
      </FadeIn>
    </div>
  </main>
</Layout>
